.header_row{
    display: inline-flex;
    font-weight: bold;
    height: 4vh;
    border-bottom: 5px violet;
}

.id_col{
    width: 30vw;
    margin-left: 5vw;
}

.name_col{
    width: 15vw;
}

.key_col{
    width:15vw;
}

.ct_col{
    width:30vw;
    margin-right: 5vw;
}