.app_row{
    display: inline-flex;
    height: 3vh;
    border-bottom: 5px violet;
}

.app_id{
    width: 30vw;
    margin-left: 5vw;
    overflow: hidden;
}

.app_name{
    width: 15vw;
}

.app_key{
    width:15vw;
}

.app_ct{
    width:30vw;
    margin-right: 5vw;
}